* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.container {
  display: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.progress {
  width: 60vw;
  margin: 0 auto;
}
.loading-bar {
  width: 60%;
  height: 15px;
  margin: 0 auto;
  display: flex;
  padding: 5px;
  border-radius: 30px;
  background: #e2e2e2;
}

.progressing {
  width: 0%;
  background: #898376;
  border-radius: 30px;
  transition: width 2s ease-out;
}

.loading-bar i {
  font-size: 15px;
  color: #898376;
}
.message {
  margin: 10px auto;
  color: #e2e2e2;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
